<h4><small>Nombre</small></h4>
<div class="well    well-sm">
    <p class="lead">{{proyecto.NOMBRE}}</p>
</div>
<h4><small>Descripcion</small></h4>
<div class="well    well-sm">
    <p class="lead">{{proyecto.DESCRIPCION}}</p>
</div>
<h4><small>RFI</small></h4>
<div class="well    well-sm">
    <p class="lead">{{proyecto.RFI}}</p>
</div>
<h4><small>Notas</small></h4>
<div class="well    well-sm">
    <p class="lead">{{proyecto.NOTAS}}</p>
</div>
<h4><small>Estado</small></h4>
<div class="well    well-sm">
    <p class="lead">{{proyecto.ESTADO}}</p>
</div>