<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th ng-repeat="dia in dias">{{ dia.fecha }}</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Act Estimadas</th>
                <td ng-repeat="act in estimadas">
                    <span contenteditable="true" ng-model="act.actE" strip-br="true" strip-tags="true" select-non-editable="true">
                        {{ act.actE }}
                    </span>
                </td>

            </tr>
            <tr>
                <th scope="row">Act Finalizadas</th>
                <td ng-repeat="act in finalizadas">
                    <span contenteditable="true" ng-model="act.actF" strip-br="true" strip-tags="true" select-non-editable="true">
                        {{ act.actF }}
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>