<div class="col-md-2">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"> 
         <span class="glyphicon glyphicon-filter" aria-hidden="true"><p>Filtrar</p></span>
    </button>
    <hr>
    <div uib-collapse="isCollapsed" class="col-md-5">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <div ng-repeat="(indice,valor) in $ctrl.indices" class="btn-group" uib-dropdown>
                <button id="{{  valor }} " type="button " class="btn btn-primary " uib-dropdown-toggle>
             El indice : {{ indice }} y el valor : {{valor}}{<span class="caret "></span>
            </button>
                <ul class="dropdown-menu " uib-dropdown-menu role="menu " aria-labelledby="{{ indice }} ">
                    <atributospor-indice indice="indice"></atributospor-indice>
                </ul>
            </div>

        </div>
    </div>

</div>