<div class="col-md-2">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"> 
         <span class="glyphicon glyphicon-filter" aria-hidden="true"><p>Filtrar</p></span>
    </button>
    <hr>
    <div uib-collapse="isCollapsed" class="col-md-5">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <div ng-repeat="indice in $ctrl.indices" class="btn-group" uib-dropdown>
                <button id="{{  indice.atributo }} " type="button " class="btn btn-primary " ng-model="indice" ng-click="verIndice(indice)" uib-dropdown-toggle>
                 El indice : {{ indice.atributo }} - {{ $ctrl.index }} <span class="caret "></span>
                </button>
                <ul class="dropdown-menu " uib-dropdown-menu role="menu " aria-labelledby="{{ indice.atributo }} ">
                    <atributospor-indice index="index"></atributospor-indice>
                </ul>
            </div>

        </div>
    </div>

</div>